.new-price{
    color:#454545;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    float: left;
}
.vat-info-text{
    color: #bbb;
    font-size: 25px;
}
.price-label{
    font-size: 23px;
    display: block;
}